@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Playfair+Display&display=swap');

* {
  margin: 0;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.home-banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.4) 40%), url("assets/feature.jpg");
  background-size: cover;
}

.home-banner-text {
  padding-left: 10vw;
  color: white;
}

.main-header {
  font-family: 'Playfair Display', 'serif';
  font-size: 50px;
  margin-bottom: 20px;
}

.sub-header {
  font-family: 'Libre Franklin', 'sans-serif';
  font-size: x-large;
}

