@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Playfair+Display&display=swap');

* {
  margin: 0;
}

body {
  background-color: #eee!important;
}

.topnav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  transition: 0.2s background-color ease;
  color: white;
  padding: 0 10vw;
}

.navbar-white {
  background-color: #eee;
  color: black;
}

#nav-logo {
  width: 100px;
  height: 100px;
}

.nav-links {
  margin-bottom: 0;
  float: right;
}

.navs {
  color: white;
  display: inline;
  padding: 0 30px;
}

.nav-links > a:hover {
  text-decoration: none;
}

.container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
}

.home-banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.4) 40%), url("../assets/feature.jpg");
  background-size: cover;
}

.home-banner-text {
  padding-left: 10vw;
  color: white;
}

.main-header {
  font-family: 'Playfair Display', 'serif';
  font-size: 50px;
  margin-bottom: 20px;
}

.sub-header {
  font-family: 'Libre Franklin', 'sans-serif';
  font-size: x-large;
}

.content-header {
  text-align: center;
  font-family: 'Playfair Display', 'serif';
  font-size: 30px;
  margin: 40px 0;
}

.content {
  font-size: 20px;
  line-height: 35px;
  font-family: 'Libre Franklin', 'serif';
  margin: 18px 0;
}

.quote {
  text-align: center;
}

.quote-btn {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #80817D;
  color: white;
}

.col {
  border: 1px solid black;
  height: 300px;
  color: white;
  font-family: 'Playfair Display', 'serif';
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {color:white;}

.black {color:black;}

#about-vp {
  background-image: linear-gradient(45deg, rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.4) 40%), url("../assets/venetian.jpg");
  background-size: cover;
  padding: 0;
}

#about-vp:hover {
  background-image: linear-gradient(45deg, rgba(0,0,0,0.0) 10%, rgba(0,0,0,0.0) 40%), url("../assets/venetian.jpg");
}

#about-mc {
  background-image: linear-gradient(45deg, rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.4) 40%), url("../assets/cement.jpg");
  background-size: cover;
  padding: 0;
}

#about-mc:hover {
  background-image: linear-gradient(45deg, rgba(0,0,0,0.0) 10%, rgba(0,0,0,0.0) 40%), url("../assets/cement.jpg");
}

.link {
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 10;
}

.link:hover {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

#footer {
  width: 100%;
  height: 20vh;
  background-color: #80817D;
  margin-top: 70px;
}

.foot-container {
  padding-top: 15px;
}

.foot-header {
  color: lightgrey;
}

.foot-contact > p:not(.foot-header) {
  margin: 0;
}

.foot-quals > img {
  padding-top: 50px;
  height:100px;
}

.social-div {
  display: flex;
  align-items: center;
}

.socials {
  font-size: xx-large;
  color: black;
  padding: 0 15px;
}

#guild {width: 70px;}

#gypsum {
  width: 150px;
  padding-left: 15px;
}

.block {display:block;}
